*

!.gitignore

# nvim
!nvim/
!nvim/**
nvim/.luarc.json
nvim/lazy-lock.json

# hyprland
!hypr/
!hypr/**
!waybar/
!waybar/**

# nix
!nixos/
!nixos/**

# tmux
!tmux
!tmux/**

# fastfetch
!fastfetch
!fastfetch/**
