*

!.gitignore

# nvim
!nvim/
!nvim/**
nvim/.luarc.json
nvim/lazy-lock.json

# hyprland
!hypr/
!hypr/**
!waybar/
!waybar/**
!wofi/
!wofi/**

# nix
!nixos/
!nixos/**
nixos/hardware-configuration.nix

# tmux
!tmux
!tmux/**

# fastfetch
!fastfetch
!fastfetch/**
