*

!.gitignore

# nvim
!nvim/
!nvim/**
nvim/.luarc.json
nvim/lazy-lock.json

# hyprland
!hypr/
!hypr/**
hypr/local.conf
hypr/monitors.conf
!waybar/
!waybar/**
!wofi/
!wofi/**
!tofi/
!tofi/**
!hyprshell/
!hyprshell/**

# nix
!nixos/
!nixos/**
nixos/hardware-configuration.nix

# tmux
!tmux
!tmux/**

# fastfetch
!fastfetch
!fastfetch/**
