#custom-network-icon {
  font-family: "FontAwesome 6 Free";
  padding-right: 12px;
}

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrains Mono, FontAwesome, monospace;
    font-size: 18px;
}

window#waybar {
    /* background-color: rgba(43, 48, 59, 0.5); */
    background-color: transparent;
    padding: 5px 10px 10px 10px;
  
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -3px transparent; */
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button {
    border: solid 2px transparent;
    padding: 0 0px;
    min-height: 28px;
    min-width: 40px;

    background-color: transparent;
    color: #ffffff;
}

#workspaces button:first-child {
    margin-left: 12px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    /* background-color: #64727D; */
    /* border: solid 2px #9ca0b0; */
    border: solid 2px #666666;
    border-radius: 12px;
    /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 10px 10px;
    color: #ffffff;
}
#battery,
#network,
#pulseaudio {
    padding: 8px 16px 8px 10px;
    border: solid 2px;
    border-radius: 12px;
    margin: 2px;
}
#network {
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    font-size: 24px;
    font-weight: 200;
    background-color: transparent;
    margin: 0px;
    padding-top: 5px;
}

#battery {
    border-color: rgba(64, 160, 43, 1);
    color: rgba(64, 160, 43, 1);
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: transparent;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    color: #179299;
    border-color: #179299;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    border-color: #8839ef;
    color: #8839ef;
}

#pulseaudio.muted {
    opacity: 0.6;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: transparent;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px; margin: 0 5px; min-width: 16px;
}

#keyboard-state {
    font-size: 8px;
    padding: 0 0px;
    /* padding-right: 5px; */
    margin: 0 5px;
    min-width: 16px;
    color: #555;
}

#keyboard-state > label {
    border-radius: 12px;
    min-width: 48px;
    margin: 5px 0;
    border: solid #555 2px;
    padding: 0 5px;
    /* padding-right: 12px; */
}
#keyboard-state > label:not(:first-child) {
    margin-left: 12px;
}

#keyboard-state > label.locked {
    /* background: rgba(0, 0, 0, 0.2); */
    color:black;
    background-color: #555;
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

